<section ng-controller="MainController">
    <span class="col-md-offset-2 col-md-6">
        The work focused on issue about the role of social identity and looking back when transition to modernity, Industrial development, urban society development that affect to human right nowadays. The content demonstrates the development of state policies that affect the image and identity of the northern of Thailand craftsman who has cultural wisdom. By diminishing role, honor and identity of the original culture from society, they become the ordinary manufacturing workers.
    <span>
</section>