<section ng-controller="MainController">
    <div class="col-md-3 col-sm-3">
    </div>
    <span class="col-md-6 col-sm-6 writing-content">
        The work focused on issue about the role of social identity and looking back when transition to modernity, Industrial development, urban society development that affect to human right nowadays. The content demonstrates the state policy that reduce role, prestige and the identities of the craftsman in the northern of Thailand. It made the craftsman who has the cultural wisdom became to ordinary manufacturing workers.
    </span>
</section>