<section ng-controller="InfoController">

    <div class="col-md-3 col-sm-3"></div>

    <div class="col-md-6 col-sm-6 info-content">
        <div>
            <span>Born: 18 Feb 1990</span><br/>
            <span>Address: 176 M.6 Umong, Meung, Lamphun 51150</span><br/>
            <span>Email: <a href="mailto:thanatcha.chairin@gmail.com"> thanatcha.chairin@gmail.com</a></span><br/>
            <span>Bachelor Sculpture, Faculty of Fine arts Chiang Mai university</span><br/>
            <span>Studying master degree , Slipakorn university Bangkok Thailand</span><br/><br/>
        </div>

        <div ng-repeat="info in cvInfo">
            <h5>{{info.header}}</h5>
            <div ng-repeat="work in info.works">
                <h5>{{work.year}}</h5>
                <ul ng-repeat="item in work.items">
                    <li><span>{{item}}<span></li>    
                </ul>
            <div>
        </div>
    </div>
</section>