<section ng-controller="WorkController">

    <div class="work-content">
        <div class="row" ng-repeat="work in works">
            <div class="col-md-offset-2 col-md-10 work-item" ng-repeat="project in work.projects">
                <div class="img-gallery">
                    <a ng-href="#!/works/{{work.year}}/{{project.id}}">
                        <div class="col-md-3">
                            <img class="img-responsive work-img" ng-src="{{baseUrl}}img/{{project.imageTitle}}" />
                        </div>
                        <div class="col-md-9">
                            <h5 class="work-title">{{project.name}}, {{work.year}}</h5>
                            <p class="work-detail">{{project.desc}}</p>
                            <p class="work-detail">{{project.dimension}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>