<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Thanatcha Chairin</title>
    <link rel='stylesheet' type="text/css" href='_lib/bootstrap/dist/css/bootstrap.css' />
</head>

<body>

    <ul>
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/info">C.V.</a></li>
        <li><a href="#!/works">Works</a></li>
    </ul>

    <section ng-view></section>

    <script src="_lib/jquery/dist/jquery.min.js"></script>
    <script src="_lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="_lib/angular/angular.min.js"></script>
    <script src="_lib/angular-route/angular-route.min.js"></script>

    <script src="app/main/main.module.js"></script>
    <script src="app/main/main.routes.js"></script>
    <script src="app/main/main.controller.js"></script>

    <script src="app/info/info.module.js"></script>
    <script src="app/info/info.routes.js"></script>
    <script src="app/info/info.service.cv.js"></script>
    <script src="app/info/info.controller.js"></script>

    <script src="app/work/work.module.js"></script>
    <script src="app/work/work.routes.js"></script>
    <script src="app/work/work.service.js"></script>
    <script src="app/work/work.controller.js"></script>

    <script src="app/application.js"></script>
</body>

</html>